<h3>Responses</h3>
<table class="table">
  <tr>
    <th>Owner</th>
    <th>Label</th>
    <th class="text-center">HTTP Code</th>
    <th class="text-center">Enabled?</th>
    <th class="text-right">Actions</th>
  </tr>
  <tr *ngFor="let response of responses">
    <td>
      <a *ngIf="response.agent" [routerLink]="['/agent', response.agent]"><span class="label label-success">Agent</span></a>
      <a *ngIf="response.operation" [routerLink]="['/operation', response.operation]"><span class="label label-primary">Operation</span></a>
    </td>
    <td>
      {{response.label}}
      <button type="button" class="btn btn-default btn-sm" data-toggle="modal" [attr.data-target]="'#modal_' + response.id">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
      <div class="modal fade" id="modal_{{response.id}}" tabindex="-1" role="dialog" [attr.aria-labelledby]="'label_' + response.id">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="label_{{response.id}}">{{response.label}}</h4>
            </div>
            <div class="modal-body">
              <pre>{{response.content}}</pre>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </td>
    <td class="text-center">
      <span *ngIf="response.http_code <= 399" class="label label-success">{{response.http_code}}</span>
      <span *ngIf="response.http_code >= 400" class="label label-danger">{{response.http_code}}</span>
    </td>
    <td class="text-center">
      <span *ngIf="response.enable == true" class="label label-success">Yes</span>
      <span *ngIf="response.enable == false" class="label label-danger">No</span>
    </td>
    <td class="text-right">
      <button class="btn btn-primary btn-sm" [routerLink]="['/response', response.id]">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </button>
      <button class="btn btn-danger btn-sm" (click)="select(response)" data-toggle="modal" data-target="#modalDelete">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </td>
  </tr>
</table>
<button class="btn btn-primary btn-sm" [routerLink]="['/response', 'new']">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button>
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalDeleteLabel">Are you sure?</h4>
      </div>
      <div class="modal-body">
        <p *ngIf="selectedResponse">Are you sure you want to delete the response <strong>{{selectedResponse.label}}</strong>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="delete(selectedResponse)">Confirm</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
