* {
   font-size: 13px;
   line-height: 1.5;
}

.method_get {
  font-weight: bold;
  color: green;
}

.method_post {
  font-weight: bold;
  color: orange;
}

.method_delete {
  font-weight: bold;
  color: red;
}
