<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h3>Sign In</h3>
    <form role="form" #signinForm="ngForm">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="username" id="username" required [(ngModel)]="login.username" name="username" #username="ngModel"/>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="password" id="password" required [(ngModel)]="login.password" name="password" #password="ngModel"/>
      </div>
      <button class="btn btn-primary" [disabled]="!signinForm.form.valid" (click)="signin(login)">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Sign In
      </button>
      <button class="btn btn-default" [routerLink]="['/signup']">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Register
      </button>
    </form>
  </div>
</div>
