<h3>Filters</h3>
<table class="table">
  <tr>
    <th>Owner</th>
    <th>Label</th>
    <th class="text-right">Request Conditions</th>
    <th class="text-right">Response Conditions</th>
    <th class="text-right">Priority</th>
    <th class="text-right">Enabled?</th>
    <th class="text-right">Actions</th>
  </tr>
  <tr *ngFor="let filter of filters">
    <td>
      <span *ngIf="filter.agent" class="label label-success">Agent</span>
      <span *ngIf="filter.operation" class="label label-primary">Operation</span>
    </td>
    <td>{{filter.label}}</td>
    <td class="text-right"><a href="#" data-toggle="modal" [attr.data-target]="'#requestConditions' + filter.id">{{filter.request_conditions.length}}</a></td>
    <td class="text-right"><a href="#" data-toggle="modal" [attr.data-target]="'#responseConditions' + filter.id">{{filter.response_conditions.length}}</a></td>
    <td class="text-right">
      <kbd>{{filter.priority}}</kbd>
    </td>
    <td class="text-right">
      <span *ngIf="filter.enable == true" class="label label-success">Yes</span>
      <span *ngIf="filter.enable == false" class="label label-danger">No</span>
    </td>
    <td class="text-right">
      <button class="btn btn-primary btn-sm" [routerLink]="['/filter', filter.id]">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </button>
      <button class="btn btn-danger btn-sm" (click)="select(filter)" data-toggle="modal" data-target="#modalDelete">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </td>
    <request-condition-resume-modal [filterId]="filter.id" [modalName]="'requestConditions' + filter.id"></request-condition-resume-modal>
    <response-condition-resume-modal [filterId]="filter.id" [modalName]="'responseConditions' + filter.id"></response-condition-resume-modal>
  </tr>
</table>
<button class="btn btn-primary btn-sm" [routerLink]="['/filter', 'new']">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button>
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalDeleteLabel">Are you sure?</h4>
      </div>
      <div class="modal-body">
        <p *ngIf="selectedFilter">Are you sure you want to delete the filter <strong>{{selectedFilter.label}}</strong>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="delete(selectedFilter)">Confirm</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
